

.navbar-nav li a.nav-link{
    padding-right: 10px;
    padding-left: 10px;
}

.carousel_col{
    margin: 0 auto;
}

.bg-green{
    background-color: #485E4E!important;
    color: white;
}
footer.site-footer .footer-inner{
    color:white;
}

footer.site-footer .footer-inner a {
    color: white;
}


.right-panel{
    margin-top: 127px;
}
.right-panel header.header{
    height: 72px;
}
#header1.header{
    margin-top: 70px;
    height: 55px;
}
.right-panel .top-left{
    width: 165px;
}
.right-panel .navbar-brand {
    width: 150px;
}
.header-left{
    display: flex;
}
.navbar-nav li a.nav-link {
    color: white;
}
.navbar-nav li a.active{
    font-weight: 400;
    color:yellow;
    
}
