.navbar-nav li.active a{
    color:black;
}

.navbar-nav li a.nav-link{
    padding-right: 10px;
    padding-left: 10px;
}

.carousel_col{
    margin: 0 auto;
}

.bg-green{
    background-color: #485E4E;
    color: white;
}
footer.site-footer .footer-inner{
    color:white;
}

footer.site-footer .footer-inner a {
    color: white;
}